@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    text-align: right;
}

form {
    width: 70%;
    margin: auto;
}

label {
    display: block;
}

input, textarea, td a {
    padding: 10px;
    display: block;
    width: 50%;
    margin: auto;
}

datalist {
    display: none;
}

input[type=submit], td a {
    border: 2px solid green;
    background-color: aqua;
    color: blue;
    width: 50%;
    margin: 10px auto;
}